{% load markdown static %}

{% comment %}
Can't figure out how to get this into a script block in an included template.
Including it in-body should be fine, though.
{% endcomment %}


<script async type="module" src="{% static 'wiki/wiki.js' %}"></script>

<fieldset>
  <legend>Wiki</legend>
  <ul>
    {% for section in article.sections %}
    <li><button type="button" class="add-section">+</button></li>
    <li>
      <input type="hidden" name="wiki-section-id" value="{{ section.id }}">
      <input type="hidden" name="wiki-section-order" value="{{ section.order }}">
      <textarea name="wiki-section">{{ section.text }}</textarea>
      <button type="button" class="delete-section">🗑️</button>
    </li>
    {% endfor %}
    <li><button type="button" class="add-section">+</button></li>
  </ul>
  {# Needs "button" type, otherwise it automatically gets a submit type #}
</fieldset>