{% extends "worlds/edit.html" %}

{% load static %}

{% block head %}
{{ block.super }}
<script async type="module" src="{% static 'worlds/js/edit-players.js' %}"></script>
{% endblock %}

{% block extra %}
{% include "wiki/article/_edit.html" with object=object.article %}

<fieldset class="players">
  <legend>Players</legend>
  <ul class="players">
    {% for player in object.players.all %}
    <li>
      <input name="player" value="{{ player.username }}">
      <button type="button" class="delete-player">🗑️</button>
    </li>
    {% endfor %}
    <li><button type="button" class="add-player">+</button></li>
  </ul>
</fieldset>
{% endblock %}
