{% load sekizai_tags static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}WorldMaster{% endblock %}</title>
  {% block head %}{% endblock %}
  {% render_block "head" %}
  <script async type="module" src="{% static 'js/bundle.js' %}"></script>
</head>

<body>
  <div>
  {% if user.is_anonymous %}
    <a href="{% url 'auth:login' %}">login</a>
  {% else %}
    <p>Logged in as {{user.username}}. <a href="{% url 'auth:logout' %}">logout</a></p>
  {% endif %}
  </div>
  <nav>
    <ul>
      <li><a href="{% url 'worlds:worlds' %}">Worlds</a></li>
    </ul>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>