{% extends "worlds/base.html" %}

{% block content %}
<h1>This is a world named {{ object.name }}</h1>

<p>Name: {{ object.name }}</p>
<p>Slug: {{ object.slug }}</p>

{% include "wiki/article/_detail.html" with object=object.article %}

<p>Players:</p>
<ul class="players">
  {% for player in object.players.all %}
  <li>{{ player.username }}</li>
  {% endfor %}
</ul>

<p><a href="{% url 'worlds:edit-world' object.slug %}">Edit {{ object.name }}</a></p>
<p><a href="{% url 'worlds:planes' object.slug %}">View planes</a></p>
<p><a href="{% url 'worlds:new-plane' object.slug %}">Create new plane</a></p>
{% endblock %}
