{% load static sekizai_tags wiki %}

{% addtoblock "head" %}
<script async type="module" src="{% static 'wiki/js/edit-wiki.js' %}"></script>
{% endaddtoblock %}

<fieldset>
  <legend>Wiki</legend>
  <ul>
    {% for section in object.sections.all %}
    {# Needs "button" type, otherwise it automatically gets a submit type #}
    <li><button type="button" class="add-section">+</button></li>
    <li>
      <input type="hidden" name="wiki-section-id" value="{{ section.id }}">
      <input type="hidden" name="wiki-section-order" value="{{ section.order }}">
      {{ section.body|json }}
      <button type="button" class="delete-section">🗑️</button>
    </li>
    {% endfor %}
    <li><button type="button" class="add-section">+</button></li>
  </ul>
</fieldset>
