{% load static wiki %}

<fieldset class="wiki">
  <legend>Wiki</legend>
  <ul>
    {% for section in object.sections.all %}
    {# Needs "button" type, otherwise it automatically gets a submit type #}
    <li class="add-section"><button type="button">+</button></li>
    <li class="section">
      <input type="hidden" name="wiki-section-id" class="id" value="{{ section.id }}">
      <input type="hidden" name="wiki-section-order" class="order" value="{{ section.order }}">
      <input type="hidden" name="wiki-section-body" class="body" value="{% json section.body %}">
      <button type="button" class="delete">🗑️</button>
    </li>
    {% endfor %}
    <li class="add-section"><button type="button">+</button></li>
  </ul>
</fieldset>
